<!--users/templates/registration/password_reset_form.html-->

{% extends 'base.html' %}

{% block content %}
<div class="container d-flex flex-column h-100 justify-content-center align-items-center">
    <h2 class="text-primary display-5">Send password reset link</h2>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{form.email.id_for_label}}" class="text-secondary">{{form.email.label}}</label>
            <input type="email" name="email" class="form-control" id="{{form.email.id_for_label}}">
        </div>
        <input type="submit" class="btn btn-primary" value="Reset">
    </form>
    <a href="{% url 'login' %}">Back to login</a>
</div>
{% endblock %}
